Django==6.0.5
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
drf-spectacular==0.28.0
PyMySQL==1.1.2
requests==2.32.5
python-dotenv==1.1.1
gunicorn==23.0.0
